.about{
    margin-top: 252px;
    .about__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__content{
            max-width:48%;
            &__title{
                h3{
                font-size: 48px;
                line-height:50px;
                margin-bottom: 28px;
                font-family: "semibold";
                }
            } 

            &__subtitle{
                margin-bottom: 40px;
                p{
                    font-family: "regular";
                    font-size: 20px;
                    line-height: 30px;
                    color: #8F95A5;
                }
            }
            &__numbers{
                width: 90%;
                display: flex;
                justify-content: space-between;
                &__statis{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                   
                    h4{
                        font-size: 48px;
                        font-family: "semibold";
                        color: #2A3246;
                    }
                    p{
                        font-size: 20px;
                        line-height: 20px;
                        color: #8F95A5;
                    }
                }
            }
        }
        &__img{
            text-align: center;
          
            p{
                display: none;
                font-size: 48px;
                line-height:50px;
                margin-bottom: 28px;
                font-family: "semibold";
                }
        }
    }
}

@media (max-width:1130px) {
    .about{
        .about__wrapper{
            &__content{
                max-width:48%;
                &__title{
                    h3{
                    font-size: 40px;
                    line-height:40px;
                    margin-bottom: 23px;
                    font-family: "semibold";
                    }
                } 
    
                &__subtitle{
                    margin-bottom: 24px;
                    p{
                        font-size: 18px;
                        line-height: 25px;
                       
                    }
                }
                &__numbers{
                    display: flex;
                    justify-content: space-between;
                    &__statis{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                       
                        h4{
                            font-size: 35px;
                        }
                    }
                }
            }
        }
    } 
}
@media (max-width:992px) {
    .about{
        .about__wrapper{
            &__content{
                max-width:55%;
                &__title{
                    h3{
                    font-size: 36px;
                    line-height:38px;
                    margin-bottom: 20px;
                    }
                } 
    
                &__subtitle{
                    margin-bottom: 20px;
                    p{
                        font-size: 16px;
                        line-height: 24px;
                       
                    }
                }
                &__numbers{
                    width: 80%;
                    display: flex;
                    justify-content: space-between;
                    &__statis{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                       
                        h4{
                            font-size: 30px;
                        }
                        p{
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }
            }
            &__img{
                max-width: 336px;
            }
        }
    } 
}
@media (max-width:850px) {
    .about{
        .about__wrapper{
            &__content{
                max-width:55%;
                &__title{
                    h3{
                    font-size: 33px;
                    line-height:35px;
                    margin-bottom: 20px;
                    }
                } 
    
                &__subtitle{
                    margin-bottom: 18px;
                    p{
                        font-size: 15px;
                        line-height: 21px;
                       
                    }
                }
                &__numbers{
                    width: 80%;
                    display: flex;
                    justify-content: space-between;
                    &__statis{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                       
                        h4{
                            font-size: 25px;
                        }
                        p{
                            font-size: 15px;
                            line-height: 19px;
                        }
                    }
                }
            }
            &__img{
                max-width: 320px;
            }
        }
    } 
}
@media (max-width:767px) {
    .about{
        .about__wrapper{
            &__content{
                max-width:48%;
                &__title{
                    h3{
                    font-size: 30px;
                    line-height:33px;
                    margin-bottom: 18px;
                    }
                } 
    
                &__subtitle{
                    margin-bottom: 18px;
                    p{
                        font-size: 14px;
                        line-height: 21px;
                       
                    }
                }
                &__numbers{
                    width: 80%;
                    display: flex;
                    justify-content: space-between;
                    &__statis{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                       
                        h4{
                            font-size: 22px;
                        }
                        p{
                            font-size: 13px;
                            line-height: 19px;
                        }
                    }
                }
            }
            &__img{
                max-width: 300px;
            }
        }
    } 
}
@media (max-width:600px) {
    .about{
        .about__wrapper{
            flex-direction: column;
            &__content{

                order: 2;
                max-width:100%;
                text-align: center;
                &__title{
                   display: none;
                } 
    
                &__subtitle{
                    max-width: 510px;
                    margin-bottom: 18px;
                    p{
                        font-size: 14px;
                        line-height: 21px;
                       
                    }
                }
                &__numbers{
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    &__statis{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                       
                        h4{
                            font-size: 24px;
                        }
                        p{
                            
                            font-size: 14px;
                            line-height: 21px;
                        }
                    }
                }
            }
            &__img{
                order: 1;
                max-width: 352px;
                P{
                    display: block;
                }
            }
        }
    } 
}
@media (max-width:375px) {
    .about{
        .about__wrapper{
            flex-direction: column;
            &__content{

                order: 2;
                max-width:100%;
                text-align: center;
                &__title{
                   display: none;
                } 
    
                &__subtitle{
                    max-width: 510px;
                    margin-bottom: 18px;
                    p{
                        font-size: 13px;
                        line-height: 19px;
                       
                    }
                }
                &__numbers{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    gap: 30px;
                    &__statis{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                       
                        h4{
                            font-size: 24px;
                        }
                        p{
                            
                            font-size: 14px;
                            line-height: 21px;
                        }
                    }
                }
            }
            &__img{
                order: 1;
                max-width: 352px;
                &__title{
                    P{
                        display: block;
                        font-size: 24px;
                    }
                }
            }
        }
    } 
}